name: Release TDB

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Dependencies
      run: |
        sudo apt-get update && sudo apt-get install -yq libboost-all-dev g++-8 p7zip-full
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 100 --slave /usr/bin/g++ g++ /usr/bin/g++-8
        sudo systemctl start mysql.service
    - name: Run release script
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        rm -rf .git
        chmod +x release-tdb.sh
        ./release-tdb.sh
